.App {
  background-color: #282c34;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: wheat;
  flex-direction: column;
}

@keyframes lightSwipe {
  0%, 100% {
    text-shadow: -30px 0 10px rgba(255, 255, 255, 0.5);
  }
  50% {
    text-shadow: 30px 0 10px rgba(255, 255, 255, 0.5);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes flipInX {
  from {
    transform: perspective(400px) rotateX(90deg);
    opacity: 0;
  }
  to {
    transform: perspective(400px) rotateX(0deg);
    opacity: 1;
  }
}

.App h2 {
  font-size: 3rem;
  animation: flipInX 2s ease-out, lightSwipe 3s ease-in-out infinite;
  color: wheat;
}

.App h2 span {
  margin-left: 0.5rem;
  font-size: 1rem;
}

.App h4 {
  font-size: 1.5rem;
  overflow: hidden;
  animation: fadeIn 15s ease-out;
  color: whitesmoke;
  margin-left: 30rem; /* This will push the h3 to the right side of its container */
  width: fit-content;
}

.App h3:hover {
  color: #61dafb;
  cursor: pointer;
}
